/**
 * Override Bootstrap styles
 * ----------------------
 */
// .modal-dialog {
//   position: absolute;
//   margin: 10px auto;
//   left: 0;
//   right: 0;
//   top: 50%;
// }
// .modal.in .modal-dialog {
//   -webkit-transform: translate(0, -50%);
//       -ms-transform: translate(0, -50%);
//        -o-transform: translate(0, -50%);
//           transform: translate(0, -50%);
// }
@media (min-width: 768px) {
  .modal-dialog {
    margin-top: 150px;
  }

  .modal-body dl {
    margin-bottom: 0;
  }
  .dl-horizontal dt {
    width: 120px;
  }
  .dl-horizontal dd {
    margin-left: 140px;
  }
}





/**
 * Override AdminLTE styles
 * ----------------------
 */
.btn {
  border-radius: 0;
  border-width: 1px;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}
  



/**
 * Override Easyui styles
 * ----------------------
 */

/**
 * Datagrid
 */
.datagrid-header-row, .datagrid-row {
  height: 28px;
}
.datagrid-row-selected {
  background: #ffe48d;
  color: #000;
}
.datagrid-mask-msg {
  line-height: 1.5 !important;
  background-position: 8px;
}

/**
 * Messager
 */
.messager-window .messager-button {
  text-align: right;
}
.messager-window .messager-button .l-btn:hover {
  color: #72afd2;
}



#container, 
#main {
  height: 100%;
  // overflow: hidden;
}

/**
 * Header
 * ----------------------
 */
.skin-blue .main-header .navbar .nav > li.user > a:hover, 
.skin-blue .main-header .navbar .nav > li.user > a:active, 
.skin-blue .main-header .navbar .nav > li.user > a:focus {
  background: inherit;
  color: #fff;
}

/**
 * Form
 * ----------------------
 */
.form {}
.form .form-actions {
  margin-top: 20px;
}
.form .form-actions .btn + .btn {
  margin-left: 10px;
}
.form + .panel.datagrid,
.form + .datagrid-wrapper {
  margin-top: 20px;
}
.form.form-horizontal .form-group label.col-sm-2,
.form.form-horizontal .form-group label.col-sm-3 {
  padding-right: 0;
}

/**
 * Datagrid
 * --------------------
 */
.datagrid-view .datagrid-btable tbody > tr > td .link {
  color: #333;
}
.datagrid-view .datagrid-btable tbody > tr > td .link:hover,
.datagrid-view .datagrid-btable tbody > tr > td .link:active,
.datagrid-view .datagrid-btable tbody > tr > td .link:focus {
  color: #fc6c21;
}
.datagrid-view .datagrid-btable tbody > tr > td .link + .link {
  margin-left: 10px;
}
